@import "tailwindcss";

@layer base {
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

@font-face {
  font-family: 'Noto Sans SC';
  src: url('/fonts/noto-sans-sc-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans SC';
  src: url('/fonts/noto-sans-sc-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans SC';
  src: url('/fonts/noto-sans-sc-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Noto Sans SC', sans-serif;
  background-color: #f3f4f6;
}

/* Hide scrollbar for gallery but keep functionality */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
